<div class="row">
<div class="col-sm-6">

<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div class="alert alert-danger">
      <%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
</div>
