<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<p>Below are your lists.  To modify a list, please click on its name or that of an item in said list.
Or click the "New List" button on the navbar to create another list.</p>

<% @lists.each do |list| %>

  <!-- Each list will have its own div panel to look like a self-contained card -->
  <div class="panel panel-primary">

    <!-- Heading links to the list's view -->
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to list.title, list %></h3>
    </div>

    <!-- Show the list's items -->
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% list.tasks.each do |task| %>
          <tr>
            <td><%= link_to task.title, list_task_path(list, task) %></td>
            <td><%= task.description %></td>
            <td><%= task.due %></td>
            <td><%= task.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Footer gives you the option to delete the list -->
    <div class="panel-footer">
      <div class="clearfix">
        <%= button_to 'Add Task', new_list_task_path(list), :class => "btn btn-success pull-left", :method => :get %>
        <div class="btn-group pull-right">
        <%= link_to 'View', list, :class => "btn btn-primary", :method => :get %>
        <%= link_to 'Edit', edit_list_path(list), :class => "btn btn-warning", :method => :get %>
        <%= link_to 'Delete List', list, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

